/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* main code*/
.wrapper
{
    height: 570px;
    width: 1280px;
}
header
{
    height: 130px;
    width: 1280px;
    background-color: black;
}
section 
{
    height: 407px;
    width: 1280px;
    background-color: grey;
}
footer
{
    height: 50px;
    width: 1280px;
    background-color: black;
}
.logo
{
    float:left;
    padding-left: 30px;
    padding-top: 5px;
}
.logo img
{
    padding-left: 70px
}
li a
{
    color:gold;
    text-decoration: none;
}

section .sec_img
{   
    height:407px;
    margin-top: 0px;
    background-image: url("bgimage.jpg");
}
.box
{
    height: 200px;
    width: 600px;
    background-color: #030002;
    margin: 60px auto;
    opacity: .5;
    color: white;
}

/*    login style        */

.log_img
{
    height: 533px;
    margin-top: 0px;
    background-image: url(3.jpg);
    
}
.box1
{
    height: 397px;
    width: 400px;
    background-color: #030002;
    margin: 40px auto;
    opacity: .8;
    color: silver;
    padding: 20px;
}

input
{
    height: 25px;
    width: 250px;
}
/*            registeration */
.reg_img
{
    height: 530px;
    margin-top: 0px;
    background-image: url(4.png);
}
.box2
{
    height: 490px;
    width: 600px;
    background-color: #030002;
    margin: 10px auto;
    opacity: .8;
    color: silver;
    padding: 40px;
}


